# git ignore file
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.opensdf
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
ipch/
*.psess
*.vsp
!\*.png
!\*jpg
! /\*.jpg
!/\*.png
!Debug\back_color.png
